<br>
<div class>
  <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet' />
  <style>
    a {
      font-family: 'Alegreya SC';
      font-size: 18px;

    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:active {
      text-decoration: underline;
    }
  </style>

  <div style="text-align: right">
    <div style="width: 100%; margin:0 auto; padding:auto pt;">
      <div class="topnav" id="myTopnav">
        <a class="active" routerLink="home">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="todo">TODO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="category">CATEGORY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="priority">PRIORITY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



      </div>
    </div>
  </div>
  

  <router-outlet></router-outlet>

  

</div>