<br>
<div>
  <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet' />
  <style>
    h1 {
      font-family: 'Alegreya SC';
      font-size: 26px;
      text-align: center

    }
    div {
      font-family: 'Alegreya SC';
      font-size: 18px;
      text-align: center

    }
    
  </style>
<h1>
    Hey! 
</h1>
<div>I am Blessing Okeogene Omobo, a SOFTWARE ENGINEER (In view). <br>This is a mini-project to properly understand Mean & Angular 4. It might not be perfect but i'm still working on it.
        </div>
      <a style="text-decoration:underline; color:blue" (click)="gotoTodo()">ENJOY!</a>
  <br>
  <img src="assets\images\7.jpg">
</div>
