<br>
<div>
  <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet' />
  <style>
    h1 {
      font-family: 'Alegreya SC';
      font-size: 26px;
      text-align: center

    }
    div {
      font-family: 'Alegreya SC';
      font-size: 18px;
      text-align: center

    }
    
  </style>
<h1>
    Hey! 
</h1>
<div>This page displays the data stored in the database(MongoDB) and allows the user peform the CRUD operations with the data.
    <br></div>
      <a style="text-decoration:underline; color:blue" (click)="gotoTodo()">TODO!</a>
  <br>
  <img src="assets\images\7.jpg" >
</div>